doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='csrf-token', content='{{ csrf_token() }}')
        title=title
        // Bootstrap core CSS
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/admin/bootstrap-datepicker.css')
        // Styles
        link(href='/css/admin/style.css', rel='stylesheet')
        |         {{--JS--}}
        script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/js/admin/moment-with-locales.js')
        script(type='text/javascript', src='/js/admin/boostrap-datetimepicker.js')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') CONCERT HALL
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout') Logout
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    ul.nav.nav-sidebar
                        li
                            a(href='/admin')
                                | Admin Panel
                                span.sr-only (current)
                        li
                            a(href='/admin/concerts') Concerts
                    ul.nav.nav-sidebar
                        li
                            a(href='/admin/offices') Offices
                    ul.nav.nav-sidebar
                        li
                            a(href='/admin/users') Users
                    ul.nav.nav-sidebar
                        li
                            a(href='/admin/feedbacks') Feedbacks
                    ul.nav.nav-sidebar
                        li
                            a(href='/admin#form-phone-number') Telephone
                        li
                            a(href='/admin#form-default-purchase-code') Default purchase code
                        li
                            a(href='/admin#form-company-info') About us
                        li
                            a(href='/admin#form-hall-schema') Hall's chema
                        li
                            a(href='/admin#form-hall-text') Hall's text
                        li
                            a(href='/admin#form-ceo-text') SEO text
                        li
                            a(href='/admin#form-social-network') Social network
                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    block content
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/admin/admin.js')
        script(type='text/javascript', src='/js/validator.min.js')
        script.
            $(document).ready(function (){
                var url = window.location.href;
                $('ul.nav li a').each(function(){
                    if(url == this.href) {
                        $(this).parent().addClass('active');
                    }
                });
                $('ul.nav li a').click(function(){
                    $('ul.nav li a').each(function(){
                        $(this).parent().removeClass('active');
                    });
                    $(this).parent().addClass('active');
                });
            });