extends ../layouts/app.jade
block content
    .container
      ol.breadcrumb
        li
          a(href='http://concerthall.com/index') Главная
        li.active Схема зала
    .container
      .schema
        img(src='/images/1469481115aa.svg', height='500px')
      .text(style='margin-top: 15px')
        p some text goes here
    